nav h2 {
  display: block;
  width: 100%;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 15%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 15%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 15%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  border-bottom: purple 3px solid;
}

body {
  background: rgb(236, 235, 235) !important;
}

.card {
  border-radius: 20px !important;
}

.icon {
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}

.btn-secondary {
  background: purple !important;
  border: 2px solid purple;
}

.btn-secondary:focus {
  box-shadow: none !important;
}
